.navbar-brand, .navbar-brand:hover {
    color: black;
    font-weight: bold;
}
.navbar {
    background-color: #b7b7b7;
}
.nav-link {
    color: black;
}

.navbar-nav > li > a:hover {
    color: navy;
    font-style: oblique;
}

.selected {
    display: compact;
    color: white;
    background-color: #459db3;
    border-radius: 10px;
}

.nav-item{
    margin-right: 10px;
}
