.navbar-brand, .navbar-brand:hover {
    color: black;
    font-weight: bold;
}

.nav-link {
    color: black;
}

.navbar-nav > li > a:hover {
    color: navy;
    font-style: oblique;
}

.selected {
    display: flex;
    color: white;
    background-color: slategray;
    border: 0px solid black;
    border-radius: 10px;
}

